/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HaploSync Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Resource requirements per process label. Runs in `local` mode by default -
    all jobs run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    errorStrategy = 'terminate'

    cpus   = 1
    memory = '6.GB'
    time   = '4.h'

    withLabel: 'process_single' {
        cpus   = 1
        memory = '6.GB'
        time   = '4.h'
    }
    withLabel: 'process_low' {
        cpus   = 4
        memory = '8.GB'
        time   = '2.h'
    }
    withLabel: 'process_medium' {
        cpus   = 8
        memory = '32.GB'
        time   = '12.h'
    }
    withLabel: 'process_high' {
        cpus   = 24
        memory = '64.GB'
        time   = '48.h'
    }
}
