/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
    pipeline test for --step reconstruct_pm on the tiny synthetic genome
    bundled under test_data/.

    Use as follows:
        nextflow run . -profile test,<conda/mamba> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile (reconstruct_pm)'
    config_profile_description = 'Minimal test dataset to check reconstruct_pm functionality'

    step         = 'reconstruct_pm'
    input_fasta  = "${projectDir}/test_data/input_assembly.fasta"
    markers      = "${projectDir}/test_data/markers_hits.bed"
    markers_map  = "${projectDir}/test_data/genetic_map.tsv"
    prefix       = 'TEST'
    gap          = 1000
    only_markers = true
    skip_chr_pair_reports = true
    skip_unplaced_qc      = true
    run_haplodup = true
    hit_coverage = 500
    out          = 'pm01'
    outdir       = 'results_pm'
    cores        = 2
}
